<div class='container'>
	<%= form_with model: @folder,:url => '/folders/add' do |f| %>
	<div class="field">
		<%= f.label :name %>:
		<%= f.text_field :name %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
	<% end %>
	<div class='row'>
		<% @myFolders.each_with_index do |folder,index| %>
		<div class='col-md-12'>
			<span><i class='fa fa-folder'></i> <%= folder.name %></span>
			
		</div>
		<% end %>
	</div>
</div>