<div class='container'>
	<%= form_with model: @photo,:url => '/photo/add', html: { multipart: true } do |f| %>
	<%= f.hidden_field :folder_id, :value=>@current_folder %>
	<div class="field">
		<%= f.label :image %><br>
		<%= f.file_field :image %>
	</div>
	<%= f.hidden_field :lat, :id=>'lat', :placeholder=>'enter latitude' %>
	<%= f.hidden_field :lng, :id=>'lng', :placeholder=>'enter longitude' %>
	<div class="actions">
		<%= f.submit %>
	</div>
	<% end %>
	<div class='row'>
		<% if @myphotos != nil %>
		<% @myphotos.each do |photo| %>
		<div class='col-md-12'>
			<%= image_tag photo.image.url :micro_thumb %>
			<span><%= photo.name %></span>
			<% geo_localization = "#{photo.lat},#{photo.lng}" %>
			<% query = Geocoder.search(geo_localization).first %>
			<%= query.city %>
		</div>
		<% end %>
		<% else %>
		<h1>No Files here</h1>
		<% end %>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		if ("geolocation" in navigator){ 
			navigator.geolocation.getCurrentPosition(function(position){ 
				console.log("Found your location \nLat : "+position.coords.latitude+" \nLang :"+ position.coords.longitude);
				setTimeout(function(){
					$('#lat').val(position.coords.latitude)
					$('#lng').val(position.coords.longitude)	
				},1000)
			});
		}else{
			console.log("Browser doesn't support geolocation!");
		}
	});
</script>