<!DOCTYPE html>
<html>
<head>
	<title>GalleryApp</title>
	<%= csrf_meta_tags %>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<div class='container'>
		<% if notice %><div class="alert alert-info"><%= notice %></div><% end %>
		<% if alert %><div class="alert alert-warning"><%= alert %></div><% end %>
		<%= render "layouts/header" %>
		<%= yield %>
	</div>
</body>
</html>
