<div class='container'>
	<%= form_with model: @photo,:url => '/photo/add', html: { multipart: true } do |f| %>
	<%= f.hidden_field :folder_id, :value=>@current_folder %>
	<div class="field">
		<%= f.label :image %><br>
		<%= f.file_field :image %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
	<% end %>
</div>